<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsPyHBDGmN2K3Bu3xT_O74HELoGEsgH1k</string>
	<key>GCM_SENDER_ID</key>
	<string>948241633845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.legalite.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>legalite-23e10</string>
	<key>STORAGE_BUCKET</key>
	<string>legalite-23e10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948241633845:ios:ab9356ab2a24d99b6ad77c</string>
</dict>
</plist>